body {
    background-color: #0f0e0e;
  }
  
  h1 {
    text-align: center;
    
  }

  * {box-sizing: border-box;}

body {
  margin: 0;
  ;
}

#topnav{
  width: max-content;
  height: 40px; 
  background-color:#1f1d1d;
  text-align: center;
  justify-content:center;
  width:auto ;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
#topnav li {
  text-decoration: none;
  
  font-size: 14px;
  justify-content: center;
  padding: 50px 75px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px; 
}

#topnav a {
  color: #b3b1b0;
}





li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.welcomeproduct{
  font-family:'Montserrat', sans-serif; 
  font-size: 50px;
  position: relative;
  color: white;
 
}
.welcomeproduct::after {
  content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 40%;
    left: 411px;
    background-color: white;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=txt] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
   
  }

.main_img {
  width: 500px;
  height: 300px;
}

.main_bottom1 {
  display: flex;
}
.main_bottom2 {
  display: flex;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
#footer a {
  color: #c4c0bd;
  font-size: 12px;
  font-family:'Montserrat', sans-serif ;
  padding-top: 40px;
}
#footer{
  background-color:  #1f1d1d;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
}
#footer h2{
  color: #c4c0bd;
  font-size:20px;
  font-family:'Montserrat', sans-serif ;
}
.lol{
  margin-top: 35px;
}
.lol p {
  color: #c4c0bd;
  font-size:12px;;
  font-family:'Montserrat', sans-serif ;
}
.lol a :hover{
  color: antiquewhite;
}
.lol a :active{
  color: antiquewhite;
}
.money
{
  color: #1f1e1e;
}
.Lenovo{
  width:100%;
  height:620px;
  background-image:url(https://images.idgesg.net/images/article/2019/11/lenovo-legion-y540-100817444-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.Lenovo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.smoke{
  background-image: url(https://images.idgesg.net/images/article/2020/01/lenovo-legion-y740s-100825976-large.3x2.jpg);
  height: 365px;
  width: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 32px;    
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 16px;
}
.smokeweed{
  height: 400px;
  width: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 32px;
  background-image: url(https://image-us.samsung.com/SamsungUS/home/computing/windows-laptops/pcd/090919/MB_Laptops-PCD_NotebookOdyssey.jpg?$feature-benefit-bottom-mobile-jpg$);
}
#tobaco {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  align-content: center;
}
.ditme{
  font-family:'Montserrat', sans-serif; 
  font-size: 50px;
  margin-top: 30px;
  position: relative;
  color: white;
}
div.polaroid {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
#lucky {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-evenly;
  padding-top: 32px;
}

.bruh {
  color: #c4c0bd;
  font-family: 'Times New Roman', Times, serif;
}





  
  

  

 

  